<h2>Cadastro de Usuário</h2>

<form method="post">
    <label>Nome:</label><br>
    <input type="text" name="Nome" /><br><br>

    <label>Email:</label><br>
    <input type="email" name="Email" /><br><br>

    <button type="submit">Enviar</button>
</form>